APP_NAME='Magazin online'
APP_ENV=local
APP_KEY=base64:bHvNHn7rkXUJoJ8XYlVecl6TZmqE0hG+tO8GWhX7ASs=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ecommerce
DB_USERNAME=ecommerce
DB_PASSWORD=ecommerce

